<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <servlet>
        <servlet-name>Rest</servlet-name>
        <servlet-class>Restaurant</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Rest</servlet-name>
        <url-pattern>/Restaurant</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PickOrder</servlet-name>
        <servlet-class>PickOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PickOrder</servlet-name>
        <url-pattern>/PickOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GrabOrder</servlet-name>
        <servlet-class>GrabOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GrabOrder</servlet-name>
        <url-pattern>/GrabOrder</url-pattern>
    </servlet-mapping>

</web-app>
